
body{
    display: flex;
    
}
.button {
    gap: 10px;
    width: 134px;
    height: 44px;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    justify-content: center;
    background-color: rgba(138, 71, 191, 1);
  }

.contentHome {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16px;
    align-self: stretch;
    font-style: Medium;
    text-align: right;
    font-family: 'Be Vietnam',sans-serif ;
    font-weight: 500;
    line-height: 157%;
    font-stretch: normal;
    text-decoration: none;
}
.content_pros {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 500;
    line-height: 151%;
    font-stretch: normal;
    text-decoration: none;
  }
.frasehome {
    gap: 28px;
    position: relative;
    top: 500px;
    width: 88%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

header {
    gap: 200px;
    top: 40px;
    left: 56px;
    width: 368px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.MenuIcon {
    width: 15%;
    height: 15%;
  }
  
main{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-items: center;
  }
.LogoBox {
    width: 108px;
    height: 25px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
}

.logo {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}
.pros {
    gap: 50px;
    top: 900px;
    width: 84%;
    display: flex;
    padding: 40px 20px;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(59, 221, 243, 1);;
  } 
.Tenista {
    gap: 100px;
    top: 164px;
    left: 40px;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center
}

.Tenista_img {
    width: 80%;
    height: 80%;
}

.text_button {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 13px;
    font-style: Medium;
    text-align: left;
    font-family: 'Be Vietnam',sans-serif ;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.textHome {
    color: rgba(35, 44, 80, 1);
    height: auto;
    font-size: 50px;
    align-self: stretch;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 114%;
    font-stretch: normal;
    text-decoration: none;
}
.title_pros {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 36px;
    align-self: stretch;
    font-style: Bold;
    text-align: left;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 700;
    line-height: 114%;
    font-stretch: normal;
    text-decoration: none;
  }

  .Differences {
    gap: 20px;
    top: 1250px;
    left: 34px;
    width: 88%;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .difference1 {
    gap: 21px;
    width: 446px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .Hdifference1 {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px 0 0 50px;
    background-color: rgba(138, 71, 191, 0.30000001192092896);
  }
  .Bdifference1 {
    gap: 10px;
    display: flex;
    padding: 10px 25px;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    background-color: rgba(138, 71, 191, 1);
  }
  .ndifference1 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .Tdifference1 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }
  .Ttdifference1 {
    color: rgba(50, 56, 81, 1);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .cdifference1 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }
  .cpdifference1 {
    color: rgba(179, 178, 183, 1);
    width: 360px;
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 500;
    line-height: 156%;
    font-stretch: normal;
    text-decoration: none;
  }
  .difference2 {
    gap: 21px;
    width: 446px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .Hdifference2 {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px 0 0 50px;
    background-color: rgba(138, 71, 191, 0.30000001192092896);
  }
  .Bdifference2 {
    gap: 10px;
    display: flex;
    padding: 10px 25px;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    background-color: rgba(138, 71, 191, 1);
  }
  .ndifference2 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .Tdifference2 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }
  .Ttdifference2 {
    color: rgba(50, 56, 81, 1);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .cdifference2 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }
  .cpdifference2 {
    color: rgba(179, 178, 183, 1);
    width: 360px;
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 500;
    line-height: 156%;
    font-stretch: normal;
    text-decoration: none;
  }
  .difference3 {
    gap: 21px;
    width: 446px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .Hdifference3 {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px 0 0 50px;
    background-color: rgba(138, 71, 191, 0.30000001192092896);
  }
  .Bdifference3 {
    gap: 10px;
    display: flex;
    padding: 10px 25px;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    background-color: rgba(138, 71, 191, 1);
  }
  .ndifference3 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .Tdifference3 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }
  .Ttdifference3 {
    color: rgba(50, 56, 81, 1);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .cdifference3 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }
  .cpdifference3 {
    color: rgba(179, 178, 183, 1);
    width: 360px;
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 500;
    line-height: 156%;
    font-stretch: normal;
    text-decoration: none;
  }
  .testimonios {
    top: 1900px;
    width: 445px;
    height: 478px;
    display: flex;
    position: absolute;
    flex-shrink: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .Best-text {
    color: rgba(36, 46, 83, 1);
    width: 334px;
    height: auto;
    position: relative;
    top: -30px;
    font-size: 39px;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: 156%;
    font-stretch: normal;
    text-decoration: none;
  }
  .avatar {
    gap: 21px;
    top: 0px;
    left: 27px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
  }
  
  .avatar_image {
    top: 50px;
    width: 71px;
    height: 71px;
    position: relative;
  }
  .Tbest{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 219px;
    justify-content: center;
  }
  .avatar_name {
    color: rgba(63, 72, 104, 1);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: 156%;
    font-stretch: normal;
    text-decoration: none;
  }
  .avatar_desc {
    color: rgba(185, 185, 193, 1);
    width: 390px;
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: justify;
    font-family: Be Vietnam;
    font-weight: 500;
    line-height: 156%;
    font-stretch: normal;
    text-decoration: none;
  }
  .more-button {
    gap: 10px;
    top: 310px;
    left: 156px;
    width: 134px;
    height: 44px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    justify-content: center;
    background-color: rgba(138, 71, 191, 1);
  }
  .more-button-text {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 13px;
    font-style: Medium;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
