
.header {
    gap: 200px;
    top: 40px;
    left: 56px;
    width: 368px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .LogoBox {
    width: 108px;
    height: 25px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .logo {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .mobile-sportit {
    top: 0px;
    left: 34px;
    width: 74px;
    height: 25px;
    position: absolute;
    box-sizing: content-box;
  }
  .MenuIcon {
    width: 15%;
    height: 15%;
  }
  .mobile-testimonios {
    top: 2155px;
    left: 18px;
    width: 445px;
    height: 478px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .mobile-text {
    left: 56px;
    color: rgba(36, 46, 83, 1);
    width: 334px;
    height: auto;
    position: absolute;
    font-size: 39.21428680419922px;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: 156.5999984741211%;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-group1 {
    top: 135px;
    left: 0px;
    width: 445px;
    height: 254px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .mobile-rectangle1 {
    top: 35px;
    left: 0px;
    width: 445px;
    height: 219px;
    position: absolute;
  }
  .mobile-frame7 {
    gap: 21px;
    top: 0px;
    left: 27px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
  }
  .mobile-maskgroup {
    width: 70px;
    height: 70px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .mobile-ellipse3 {
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    position: absolute;
  }
  .mobile-image3 {
    top: -1.3944222927093506px;
    left: -7.808764934539795px;
    width: 78px;
    height: 71px;
    position: absolute;
  }
  .mobile-text02 {
    color: rgba(63, 72, 104, 1);
    height: auto;
    font-size: 16.071426391601562px;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: 156.5999984741211%;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-text04 {
    color: rgba(185, 185, 193, 1);
    width: 390px;
    height: auto;
    font-size: 16px;
    font-style: Medium;
    text-align: center;
    font-family: Be Vietnam;
    font-weight: 500;
    line-height: 156.5999984741211%;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-button {
    gap: 10px;
    top: 434px;
    left: 156px;
    width: 134px;
    height: 44px;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    justify-content: center;
    background-color: rgba(138, 71, 191, 1);
  }
  .mobile-text06 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 13.18055534362793px;
    font-style: Medium;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-frame16 {
    gap: 50px;
    top: 2691px;
    left: -2px;
    width: 484px;
    display: flex;
    padding: 40px 50px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    background-color: rgba(59, 221, 243, 1);
  }
  .mobile-text08 {
    color: rgba(255, 255, 255, 1);
    width: 324px;
    height: auto;
    font-size: 40px;
    font-style: Bold;
    text-align: center;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: 119.59999799728394%;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-button1 {
    gap: 10px;
    width: 134px;
    height: 44px;
    display: flex;
    padding: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25) ;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    justify-content: center;
    background-color: rgba(35, 44, 80, 1);
  }
  .mobile-text13 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 13.18055534362793px;
    font-style: Medium;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-frame23 {
    top: 3057px;
    width: 100%px;
    display: flex;
    padding: 40px 0;
    position: absolute;
    align-items: center;
    flex-direction: column;
    background-color: rgba(30, 30, 38, 1);
  }
  .mobile-frame20 {
    gap: 10px;
    display: flex;
    padding: 10px 50px;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
  .mobile-buscador {
    gap: 9px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .mobile-button2 {
    gap: 10px;
    height: 44px;
    display: flex;
    padding: 10px;
    flex-grow: 1;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 1);
  }
  .mobile-text15 {
    color: rgba(160, 160, 160, 1);
    height: auto;
    font-size: 13.18055534362793px;
    font-style: SemiBold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-button3 {
    gap: 10px;
    width: 63px;
    height: 42px;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    justify-content: center;
    background-color: rgba(138, 71, 191, 1);
  }
  .mobile-text17 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 13.18055534362793px;
    font-style: Medium;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-frame19 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: flex-start;
    flex-direction: column;
  }
  .mobile-sections {
    gap: 150px;
    height: 141.14285278320312px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .mobile-frame12 {
    gap: 12px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .mobile-text19 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-text21 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-text23 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-text25 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-frame13 {
    gap: 12px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .mobile-text27 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-text29 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-text31 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-frame22 {
    gap: 10px;
    height: 42.05357360839844px;
    display: flex;
    padding: 10px 50px;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile-iconosredessociales {
    width: 380px;
    height: 22px;
    align-self: stretch;
  }
  .mobile-frame18 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: flex-start;
    flex-direction: column;
  }
  .mobile-group51 {
    width: 108px;
    height: 25px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .mobile-subtract1 {
    top: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
    position: absolute;
  }
  .mobile-sportit1 {
    top: 0px;
    left: 34px;
    width: 74px;
    height: 25px;
    position: absolute;
    box-sizing: content-box;
  }
  .mobile-frame21 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }
  .mobile-text33 {
    color: rgba(140, 140, 148, 1);
    height: auto;
    font-size: 12.5px;
    font-style: Medium;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-frame32 {
    gap: 20px;
    top: 1415px;
    left: 34px;
    width: 446px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .mobile-frame29 {
    gap: 21px;
    width: 446px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .mobile-frame27 {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px 0 0 50px;
    background-color: rgba(138, 71, 191, 0.30000001192092896);
  }
  .mobile-button4 {
    gap: 10px;
    display: flex;
    padding: 10px 25px;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    background-color: rgba(138, 71, 191, 1);
  }
  .mobile-text35 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-frame26 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }
  .mobile-text37 {
    color: rgba(50, 56, 81, 1);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-frame30 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }
  .mobile-text39 {
    color: rgba(179, 178, 183, 1);
    width: 408px;
    height: auto;
    font-size: 16.298368453979492px;
    font-style: Medium;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 500;
    line-height: 156.5999984741211%;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-frame301 {
    gap: 21px;
    width: 446px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .mobile-frame271 {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px 0 0 50px;
    background-color: rgba(138, 71, 191, 0.30000001192092896);
  }
  .mobile-button5 {
    gap: 10px;
    display: flex;
    padding: 10px 25px;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    background-color: rgba(138, 71, 191, 1);
  }
  .mobile-text41 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-frame261 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }
  .mobile-text43 {
    color: rgba(50, 56, 81, 1);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-frame302 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }
  .mobile-text45 {
    color: rgba(179, 178, 183, 1);
    width: 408px;
    height: auto;
    font-size: 16.298368453979492px;
    font-style: Medium;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 500;
    line-height: 156.5999984741211%;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-frame31 {
    gap: 21px;
    width: 446px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .mobile-frame272 {
    gap: 8px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px 0 0 50px;
    background-color: rgba(138, 71, 191, 0.30000001192092896);
  }
  .mobile-button6 {
    gap: 10px;
    display: flex;
    padding: 10px 25px;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    background-color: rgba(138, 71, 191, 1);
  }
  .mobile-text47 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-frame262 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }
  .mobile-text49 {
    color: rgba(50, 56, 81, 1);
    height: auto;
    font-size: 16px;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-frame303 {
    gap: 10px;
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }
  .mobile-text51 {
    color: rgba(179, 178, 183, 1);
    width: 408px;
    height: auto;
    font-size: 16.298368453979492px;
    font-style: Medium;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 500;
    line-height: 156.5999984741211%;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-frame2 {
    gap: 50px;
    top: 1044px;
    left: 0px;
    width: 480px;
    display: flex;
    padding: 40px 20px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(59, 221, 243, 1);
  }
  .mobile-text53 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 36px;
    align-self: stretch;
    font-style: Bold;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: 114.59999084472656%;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-text55 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 16px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 500;
    line-height: 151.09999179840088%;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-frame34 {
    gap: 100px;
    top: 164px;
    left: 40px;
    width: 400px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .mobile-image2 {
    width: 400px;
    height: 342px;
  }
  .mobile-frasehome {
    gap: 28px;
    width: 400px;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    flex-direction: column;
  }
  .mobile-text60 {
    color: rgba(35, 44, 80, 1);
    height: auto;
    font-size: 50px;
    align-self: stretch;
    font-style: Bold;
    text-align: right;
    font-family: Be Vietnam;
    font-weight: 700;
    line-height: 114.59999084472656%;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-text62 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 16.558359146118164px;
    align-self: stretch;
    font-style: Medium;
    text-align: right;
    font-family: Be Vietnam;
    font-weight: 500;
    line-height: 157.09999799728394%;
    font-stretch: normal;
    text-decoration: none;
  }
  .mobile-button7 {
    gap: 10px;
    width: 134px;
    height: 44px;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    justify-content: center;
    background-color: rgba(138, 71, 191, 1);
  }
  .mobile-text64 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 13.18055534362793px;
    font-style: Medium;
    text-align: left;
    font-family: Be Vietnam;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }